<%- include("../partials/header") %>
<%- include("../partials/nav") %>
<div class="container">
    <div class="jumbotron">
        <h1>Edit comment</h1>
    </div>
    <form action="/pizzeria/<%= pizzeria._id %>/comments?_method=PUT" method="post" class="my-3">
        <input type="text" name="comment[text]" id="text" class="col-12 mb-5 form-control-lg" placeholder="Text"
               required value="<%= comment.text %>">
        <div class="d-flex justify-content-between">
            <div id="full-stars-example-two">
                <div class="rating-group">
                    <input disabled checked class="rating__input rating__input--none" name="comment[rating]"
                           id="rating3-none"
                           value="0" type="radio">
                    <label aria-label="1 star" class="rating__label" for="rating3-1">
                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                    </label>
                    <input class="rating__input" name="comment[rating]" id="rating3-1" value="1" type="radio"
                    <% if(comment.rating === 1) { %>
                           checked
                            <% } %>
                    >
                    <label aria-label="2 stars" class="rating__label" for="rating3-2">
                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                    </label>
                    <input class="rating__input" name="comment[rating]" id="rating3-2" value="2" type="radio"
                    <% if(comment.rating === 2) { %>
                           checked
                            <% } %>
                    >
                    <label aria-label="3 stars" class="rating__label" for="rating3-3">
                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                    </label>
                    <input class="rating__input" name="comment[rating]" id="rating3-3" value="3" type="radio"
                    <% if(comment.rating === 3) { %>
                           checked
                            <% } %>
                    >
                    <label aria-label="4 stars" class="rating__label" for="rating3-4">
                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                    </label>
                    <input class="rating__input" name="comment[rating]" id="rating3-4" value="4" type="radio"
                    <% if(comment.rating === 4) { %>
                           checked
                            <% } %>
                    >
                    <label aria-label="5 stars" class="rating__label" for="rating3-5">
                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                    </label>
                    <input class="rating__input" name="comment[rating]" id="rating3-5" value="5" type="radio"
                    <% if(comment.rating === 5) { %>
                           checked
                            <% } %>
                    >
                </div>
            </div>

            <input type="submit" value="submit" class="btn btn-success">
        </div>
    </form>
    <a href="/pizzeria/<%= pizzeria._id %>">Go back to <%= pizzeria.name %></a>
</div>


<%- include("../partials/footer") %>