<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container mt-5">
    <h1 class="text-center"><%= pizza.name%></h1>
    <div class="text-center" ><img style="max-width: 500px" src="<%= pizza.img%>" alt=""></div>
    <p><%= pizza.description%></p>

</div>


<%- include("partials/footer") %>